@model List<SMSWEBAPI.Models.Student>

<!-- Form to display students and select -->
<form id="attendanceForm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Select PS</th>
                <th scope="col">Username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Middlename</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">EnrollDate</th>
                <th scope="col">ClassId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stu in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedStudents" value="@stu.userid" data-classid="@stu.ClassId" />
                    </td>
                    <td>@stu.username</td>
                    <td>@stu.FirstName</td>
                    <td>@stu.LastName</td>
                    <td>@stu.MiddleName</td>
                    <td>@stu.DOB.ToString("yyyy-MM-dd")</td>
                    <td>@stu.gender</td>
                    <td>@stu.Address</td>
                    <td>@stu.Phone</td>
                    <td>@stu.Email</td>
                    <td>@stu.EnrollDate.ToString()</td>
                    <td>@stu.ClassId</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12">
                    <input type="button" class="btn btn-primary" value="Add To Present" onclick="submitAttendance()" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>

<!-- JavaScript to handle attendance submission -->
<script type="text/javascript">
    function submitAttendance() {
        var selectedStudents = [];
        var checkboxes = document.querySelectorAll('input[name="selectedStudents"]:checked');

        checkboxes.forEach(function (checkbox) {
            var studentId = checkbox.value;
            var classId = checkbox.getAttribute('data-classid');
            selectedStudents.push({
                StudentId: studentId,
                ClassId: classId,
                Status: true // Marking as present
            });
        });

        if (selectedStudents.length > 0) {
            // Convert the fetch call to jQuery Ajax
            $.ajax({
                url: '/api/StudentAttendance',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedStudents),
                success: function (response) {
                    alert('Students added to present list.');
                },
                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText || error);
                    alert('Failed to add students to present list.');
                }
            });
        } else {
            alert('Please select at least one student.');
        }
    }
</script>
